<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Web.WebView2" version="1.0.961.33" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net471" />
  <package id="System.Net.Http" version="2.0.20126.16343" targetFramework="net471" />
  <package id="System.Net.Http.Formatting.Extension" version="5.2.3.0" targetFramework="net471" />
  <package id="ZXing.Net" version="0.16.4" targetFramework="net471" />
</packages>