<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings,
               Microsoft.Practices.EnterpriseLibrary.Caching"/>
  </configSections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="logfile" xsi:type="File" fileName="C:\temp\ePos\logging.txt" layout="${longdate} ${callsite} ${level} ${message}"/>
      <target name="console" xsi:type="Console"/>
      <target xsi:type="EventLog" name="event" layout="${message}" source="eSalePosAxon" eventId="98889" log="Application"/>
    </targets>
    <rules>
      <!--<logger name="*" minLevel="Error" writeTo="event" />-->
      <logger name="*" minLevel="Error" writeTo="logfile"/>
      <logger name="*" minLevel="Info" writeTo="console"/>
      <logger name="*" minLevel="Info" writeTo="logfile"/>
    </rules>
  </nlog>
  <appSettings>
    <add key="BaseAddress" value="http://localhost:19047"/>
    <!--<add key="BaseAddress" value="http://192.168.1.108:9888/ePosServices" />-->
    <!--<add key="BaseAddress" value="http://113.161.85.135:9888/ePosServices" />-->
    <!-- Un-commenting the following line for Sydney Server Local address access -->
    <!--<add key="BaseAddress" value="http://10.0.0.88:9888/ePosServices" />-->
    <!-- Un-commenting the following line for Sydney Server WEB address access -->
    <!--<add key="BaseAddress" value="http://121.211.9.42:9888/ePosServices"/>-->
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="PageSize" value="A4"/>
    <add key="PageOrientation" value="Portrait"/>
    <add key="PdfRunDirection" value="LeftToRight"/>
    <add key="AcrobatReader" value="C:\Program Files (x86)\Adobe\Reader 11.0\Reader"/>
    <add key="DefaultCulture" value="vi-VN" />
    <add key="reportServiceUrl" value="http://localhost:28998/ReportService/"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
  </startup>
  <cachingConfiguration defaultCacheManager="Cache Manager">
    <cacheManagers>
      <add expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="Null Storage" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching" name="Cache Manager"/>
    </cacheManagers>
    <backingStores>
      <add encryptionProviderName="" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching" name="Null Storage"/>
    </backingStores>
  </cachingConfiguration>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>

  <!--<customBinding>
    <binding name="pollingDuplexHttpBinding" >
      <pollingDuplex duplexMode="MultipleMessagesPerPoll"/>
      <binaryMessageEncoding/>
      <httpTransport transferMode="StreamedResponse"/>
    </binding>
  </customBinding>-->
  <!--<endpoint address="http://localhost:28998/EventService"
      binding="customBinding"
      bindingConfiguration="pollingDuplexHttpBinding"
      contract="EventSubscriptionServiceProxy.IEventManagement"
      name="pollingDuplexHttpBinding_IEventManagement"/>-->

  <system.serviceModel>
    <bindings>

      <basicHttpBinding>
        <binding name="BasicHttpBinding_IConfigurationManagerService" maxBufferSize="2147483647"
           maxReceivedMessageSize="2147483647">
          <security mode="None" />
        </binding>

        <binding name="BasicHttpBinding_IBedAllocations" maxBufferSize="2147483647"
                         maxReceivedMessageSize="2147483647">
          <security mode="None" />
        </binding>
        <binding name="BasicHttpBinding_IUserAccounts" maxBufferSize="2147483647"
                         maxReceivedMessageSize="2147483647">
          <security mode="None" />
        </binding>

        <binding name="BasicHttpBinding_IAppointmentService" maxBufferSize="2147483647"
              maxReceivedMessageSize="2147483647" closeTimeout="00:30:00" openTimeout="00:30:00" receiveTimeout="00:30:00" sendTimeout="00:30:00">
          <security mode="None" />
        </binding>
        <binding name="BasicHttpBinding_IClinicManagementService" maxBufferSize="2147483647"
                 maxReceivedMessageSize="2147483647">
          <security mode="None"/>
        </binding>
        <binding name="BasicHttpBinding_IPatientRegistrationService" closeTimeout="00:30:00" openTimeout="00:30:00" receiveTimeout="00:30:00" sendTimeout="00:30:00"
            maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <security mode="None" />
        </binding>

        <binding name="BasicHttpBinding_IUserManagementService" maxBufferSize="2147483647"
        maxReceivedMessageSize="2147483647">
          <security mode="None" />
        </binding>

        <!--<binding name="BasicHttpBinding_ICommonService" maxBufferSize="1000000" transferMode="StreamedResponse"
              maxReceivedMessageSize="10000000">
          <security mode="None" />
        </binding>-->

        <binding name="BasicHttpBinding_ICommonService" maxBufferSize="2147483647" closeTimeout="00:30:00" openTimeout="00:30:00" receiveTimeout="00:30:00" sendTimeout="00:30:00"
            maxReceivedMessageSize="2147483647">
          <security mode="None" />
        </binding>

        <binding name="BasicHttpBinding_ICommonService_V2" maxBufferSize="2147483647" closeTimeout="00:30:00" openTimeout="00:30:00" receiveTimeout="00:30:00" sendTimeout="00:30:00"
            maxReceivedMessageSize="2147483647">
          <security mode="None" />
        </binding>

        <binding name="BasicHttpBinding_IBillingPaymentWcfServiceLib" maxBufferSize="2147483647" closeTimeout="00:30:00" openTimeout="00:30:00" receiveTimeout="00:30:00" sendTimeout="00:30:00"
            maxReceivedMessageSize="2147483647">
          <security mode="None" />
        </binding>

        <binding name="BasicHttpBinding_ICommonRecords" maxBufferSize="2147483647"
            maxReceivedMessageSize="2147483647">
          <security mode="None" />
        </binding>
        <binding name="BasicHttpBinding_ISummary" maxBufferSize="2147483647"
            maxReceivedMessageSize="2147483647">
          <security mode="None" />
        </binding>
        <binding name="BasicHttpBinding_IePMRs" maxBufferSize="2147483647" receiveTimeout="00:3:00"
            maxReceivedMessageSize="2147483647">
          <security mode="None" />
        </binding>
        <binding name="BasicHttpBinding_IePrescriptions" maxBufferSize="2147483647"
            maxReceivedMessageSize="2147483647">
          <security mode="None" />
        </binding>
        <binding name="BasicHttpBinding_IPatientInstructions" maxBufferSize="2147483647" closeTimeout="00:30:00" openTimeout="00:30:00" receiveTimeout="00:30:00" sendTimeout="00:30:00"
            maxReceivedMessageSize="2147483647">
          <security mode="None" />
        </binding>
        <binding name="BasicHttpBinding_ICommonUtils" maxBufferSize="2147483647"
            maxReceivedMessageSize="2147483647">
          <security mode="None" />
        </binding>

        <binding name="BasicHttpBinding_IDrugs" maxBufferSize="2147483647" closeTimeout="00:30:00" openTimeout="00:30:00" receiveTimeout="00:30:00" sendTimeout="00:30:00"
              maxReceivedMessageSize="2147483647">
          <security mode="None" />
        </binding>

        <binding name="BasicHttpBinding_IPharmacySaleAndOutward" maxBufferSize="2147483647" closeTimeout="00:30:00" openTimeout="00:30:00" receiveTimeout="00:30:00" sendTimeout="00:30:00"
              maxReceivedMessageSize="2147483647">
          <security mode="None" />
        </binding>

        <binding name="BasicHttpBinding_IInwardDrug" maxBufferSize="2147483647" closeTimeout="00:30:00" openTimeout="00:30:00" receiveTimeout="00:30:00" sendTimeout="00:30:00"
            maxReceivedMessageSize="2147483647">
          <security mode="None" />
        </binding>
        <binding name="BasicHttpBinding_IStorages" maxBufferSize="2147483647"
            maxReceivedMessageSize="2147483647">
          <security mode="None" />
        </binding>
        <binding name="BasicHttpBinding_ISupplier" maxBufferSize="2147483647"
            maxReceivedMessageSize="2147483647">
          <security mode="None" />
        </binding>
        <binding name="BasicHttpBinding_IUnit" maxBufferSize="2147483647"
            maxReceivedMessageSize="2147483647">
          <security mode="None" />
        </binding>
        <binding name="BasicHttpBinding_IPCLsImport" maxBufferSize="2147483647"  closeTimeout="00:30:00" openTimeout="00:30:00" receiveTimeout="00:30:00" sendTimeout="00:30:00"
            maxReceivedMessageSize="2147483647">
          <security mode="None" />
        </binding>
        <binding name="BasicHttpBinding_IPCLs" maxBufferSize="2147483647"  closeTimeout="00:30:00" openTimeout="00:30:00" receiveTimeout="00:30:00" sendTimeout="00:30:00"
           maxReceivedMessageSize="2147483647">
          <security mode="None" />
        </binding>
        <binding name="BasicHttpBinding_ITransactionService" maxBufferSize="2147483647" closeTimeout="00:30:00" openTimeout="00:30:00" receiveTimeout="00:30:00" sendTimeout="00:30:00"
             maxReceivedMessageSize="2147483647">
          <security mode="None" />
        </binding>
        <binding name="BasicHttpBinding_IAxReportService" maxBufferSize="2147483647" closeTimeout="00:30:00" openTimeout="00:30:00" receiveTimeout="00:30:00" sendTimeout="00:30:00"
              maxReceivedMessageSize="2147483647">
          <security mode="None" />
        </binding>

        <binding name="BasicHttpBinding_IDispMedRscr" maxBufferSize="2147483647"
               maxReceivedMessageSize="2147483647">
          <security mode="None" />
        </binding>

        <binding name="BasicHttpBinding_IResourcesManagementService"
             maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <security mode="None" />
        </binding>

        <binding name="BasicHttpBinding_IInMedDept" maxBufferSize="2147483647" closeTimeout="00:30:00" openTimeout="00:30:00" receiveTimeout="00:30:00" sendTimeout="00:30:00"
             maxReceivedMessageSize="2147483647">
          <security mode="None" />
        </binding>
        <binding name="BasicHttpBinding_IInClinicDept" maxBufferSize="2147483647"  closeTimeout="00:30:00" openTimeout="00:30:00" receiveTimeout="00:30:00" sendTimeout="00:30:00"
            maxReceivedMessageSize="2147483647">
          <security mode="None" />
        </binding>

        <binding name="BasicHttpBinding_IEstimateDrugDeptService" maxBufferSize="2147483647"
            maxReceivedMessageSize="2147483647">
          <security mode="None" />
        </binding>
        <binding name="BasicHttpBinding_IRefGenMedProductDetails" maxBufferSize="2147483647"
        maxReceivedMessageSize="2147483647">
          <security mode="None" />
        </binding>
        <binding name="BasicHttpBinding_PortalService" maxBufferSize="2147483647" closeTimeout="00:30:00" openTimeout="00:30:00" receiveTimeout="00:30:00" sendTimeout="00:30:00"
             maxReceivedMessageSize="2147483647">
          <security mode="Transport">
          </security>
        </binding>

        <binding name="BasicHttpBinding_IQMSService" maxBufferSize="2147483647" closeTimeout="00:00:30" openTimeout="00:00:30" receiveTimeout="00:00:30" sendTimeout="00:00:30"
          maxReceivedMessageSize="2147483647">
          <security mode="None" />
        </binding>

      </basicHttpBinding>
    </bindings>
    <client>

      <endpoint address="http://localhost:28998/ConfigurationManagerService/"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IConfigurationManagerService"
    contract="ConfigurationManagerServiceProxy.IConfigurationManagerService" name="BasicHttpBinding_IConfigurationManagerService" />

      <endpoint address="http://localhost:28998/BedAllocationsService/"
  binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBedAllocations"
  contract="BedAllocationsProxy.IBedAllocations" name="BasicHttpBinding_IBedAllocations" />

      <endpoint address="http://localhost:28998/UserAccountsService/"
  binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserAccounts"
  contract="UserAccountsProxy.IUserAccounts" name="BasicHttpBinding_IUserAccounts" />

      <endpoint address="http://localhost:28998/ResourcesManagementService/"
            binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IResourcesManagementService"
            contract="ResourcesManagementProxy.IResourcesManagementService"
            name="BasicHttpBinding_IResourcesManagementService" />

      <endpoint address="http://localhost:28998/PatientRegistrationService/"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPatientRegistrationService"
          contract="PatientServiceProxy.IPatientRegistrationService"
          name="BasicHttpBinding_IPatientRegistrationService" />

      <endpoint address="http://localhost:28998/UserManagementService" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IUserManagementService"
        contract="UserServiceProxy.IUserManagementService" name="BasicHttpBinding_IUserManagementService" />

      <endpoint address="http://localhost:28998/CommonService/" binding="basicHttpBinding"
            bindingConfiguration="BasicHttpBinding_ICommonService" contract="CommonServiceProxy.ICommonService"
            name="BasicHttpBinding_ICommonService" />

      <endpoint address="http://localhost:28998/CommonService_V2/" binding="basicHttpBinding"
            bindingConfiguration="BasicHttpBinding_ICommonService_V2" contract="CommonService_V2Proxy.ICommonService_V2"
            name="BasicHttpBinding_ICommonService_V2" />

      <endpoint address="http://localhost:28998/BillingPaymentWcfServiceLib/" binding="basicHttpBinding"
            bindingConfiguration="BasicHttpBinding_IBillingPaymentWcfServiceLib" contract="BillingPaymentWcfServiceLibProxy.IBillingPaymentWcfServiceLib"
            name="BasicHttpBinding_IBillingPaymentWcfServiceLib" />

      <endpoint address="http://localhost:28998/ConsultationsService/CommonRecords"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICommonRecords"
          contract="CommonRecordsService.ICommonRecords" name="BasicHttpBinding_ICommonRecords" />

      <endpoint address="http://localhost:28998/ConsultationsService/Summary"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISummary"
          contract="SummaryService.ISummary" name="BasicHttpBinding_ISummary" />
      <endpoint address="http://localhost:28998/ConsultationsService/ePMRs"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IePMRs"
          contract="ePMRsService.IePMRs" name="BasicHttpBinding_IePMRs" />

      <endpoint address="http://localhost:28998/ConsultationsService/ePrescription"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IePrescriptions"
          contract="ePrescriptionService.IePrescriptions" name="BasicHttpBinding_IePrescriptions" />

      <endpoint address="http://localhost:28998/ConsultationsService/PatientInstruction"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPatientInstructions"
          contract="ePrescriptionService.IPatientInstructionService" name="BasicHttpBinding_IPatientInstructions" />

      <endpoint address="http://localhost:28998/ConsultationsService/CommonUtils"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICommonUtils"
          contract="CommonUtilService.ICommonUtils" name="BasicHttpBinding_ICommonUtils" />

      <endpoint address="http://localhost:28998/PharmacyService/Drugs"
            binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDrugs"
            contract="DrugProxy.IDrugs" name="BasicHttpBinding_IDrugs" />

      <endpoint address="http://localhost:28998/PharmacyService/SaleAndOutward"
            binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPharmacySaleAndOutward"
            contract="PharmacySaleAndOutwardProxy.IPharmacySaleAndOutward" name="BasicHttpBinding_IPharmacySaleAndOutward" />

      <endpoint address="http://localhost:28998/PharmacyService/InwardDrugs"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IInwardDrug"
          contract="InwardDrugProxy.IInwardDrug" name="BasicHttpBinding_IInwardDrug" />
      <endpoint address="http://localhost:28998/PharmacyService/Storages"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IStorages"
          contract="StorageProxy.IStorages" name="BasicHttpBinding_IStorages" />
      <endpoint address="http://localhost:28998/PharmacyService/Suppliers"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISupplier"
          contract="SupplierProxy.ISupplier" name="BasicHttpBinding_ISupplier" />
      <endpoint address="http://localhost:28998/PharmacyService/Units"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUnit"
          contract="UnitProxy.IUnit" name="BasicHttpBinding_IUnit" />
      <endpoint address="http://localhost:28998/ConsultationsService/IPCLsImport"
           binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPCLsImport"
           contract="PCLsService.IPCLsImport" name="BasicHttpBinding_IPCLsImport" />
      <endpoint address="http://localhost:28998/ConsultationsService/IPCLs"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPCLs"
          contract="PCLsProxy.IPCLs" name="BasicHttpBinding_IPCLs" />
      <endpoint address="http://localhost:28998/TransactionService/Transactions"
         binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITransactionService"
         contract="TransactionServiceProxy.ITransactionService" name="BasicHttpBinding_ITransactionService" />
      <endpoint address="http://localhost:28998/ReportService/" binding="basicHttpBinding"
            bindingConfiguration="BasicHttpBinding_IAxReportService" contract="ReportServiceProxy.IAxReportService"
            name="BasicHttpBinding_IAxReportService" />

      <endpoint address="http://localhost:28998/DispMedRscrService"
            binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDispMedRscr"
            contract="MedicalItemProxy.IDispMedRscr" name="BasicHttpBinding_IDispMedRscr" />
      <endpoint address="http://localhost:28998/AppointmentService/"
            binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAppointmentService"
            contract="AppointmentServiceProxy.IAppointmentService" name="BasicHttpBinding_IAppointmentService" />
      <endpoint address="http://localhost:28998/ClinicManagementService/"
            binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IClinicManagementService"
            contract="ClinicManagementProxy.IClinicManagementService" name="BasicHttpBinding_IClinicManagementService"
        
        />
      <endpoint address="http://localhost:28998/PharmacyService/MedDeptService"
           binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IInMedDept"
           contract="MedDeptProxy.IInMedDept" name="BasicHttpBinding_IInMedDept" />
      <endpoint address="http://localhost:28998/PharmacyService/CLinicDeptService"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IInClinicDept"
          contract="ClinicDeptProxy.IInClinicDept" name="BasicHttpBinding_IInClinicDept" />

      <endpoint address="http://localhost:28998/PharmacyService/EstimateDrugDeptService"
           binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEstimateDrugDeptService"
           contract="EstimateDrugDeptProxy.IEstimateDrugDeptService"
           name="BasicHttpBinding_IEstimateDrugDeptService" />
      <endpoint address="http://localhost:28998/PharmacyService/RefGenMedProductDetailsService"
       binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRefGenMedProductDetails"
       contract="RefGenMedProductDetailsServiceProxy.IRefGenMedProductDetails"
       name="BasicHttpBinding_IRefGenMedProductDetails" />
      <!--Domain HDĐT Viện Tim Demo-->
      <!--<endpoint address="https://vientimtphcmadmindemo.vnpt-invoice.com.vn/PortalService.asmx"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_PortalService"
                contract="VNPTAccountingServiceProxy.IVNPTAccountingPortalService" name="BasicHttpBinding_PortalService" />
      <endpoint address="https://vientimtphcmadmindemo.vnpt-invoice.com.vn/PublishService.asmx"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_PortalService"
                contract="VNPTAccountingServiceProxy.IVNPTAccountingPublishService" name="BasicHttpBinding_PublishService" />
      <endpoint address="https://vientimtphcmadmindemo.vnpt-invoice.com.vn/BusinessService.asmx"
                  binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_PortalService"
                  contract="VNPTAccountingServiceProxy.IVNPTAccountingBusinessService" name="BasicHttpBinding_BusinessService" />-->

      <!--Domain HDĐT Viện Tim chính chức-->
      <!--<endpoint address="https://vientimtphcmadmin.vnpt-invoice.com.vn/PortalService.asmx"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_PortalService"
                contract="VNPTAccountingServiceProxy.IVNPTAccountingPortalService" name="BasicHttpBinding_PortalService" />
      <endpoint address="https://vientimtphcmadmin.vnpt-invoice.com.vn/PublishService.asmx"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_PortalService"
                contract="VNPTAccountingServiceProxy.IVNPTAccountingPublishService" name="BasicHttpBinding_PublishService" />
      <endpoint address="https://vientimtphcmadmin.vnpt-invoice.com.vn/BusinessService.asmx"
                  binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_PortalService"
                  contract="VNPTAccountingServiceProxy.IVNPTAccountingBusinessService" name="BasicHttpBinding_BusinessService" />-->

      <!--Domain HDĐT Thanh vũ 1 Demo-->
      <!--<endpoint address="https://thanhvu1admindemo.vnpt-invoice.com.vn/PortalService.asmx"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_PortalService"
                contract="VNPTAccountingServiceProxy.IVNPTAccountingPortalService" name="BasicHttpBinding_PortalService" />
      <endpoint address="https://thanhvu1admindemo.vnpt-invoice.com.vn/PublishService.asmx"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_PortalService"
                contract="VNPTAccountingServiceProxy.IVNPTAccountingPublishService" name="BasicHttpBinding_PublishService" />
    <endpoint address="https://thanhvu1admindemo.vnpt-invoice.com.vn/BusinessService.asmx"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_PortalService"
                contract="VNPTAccountingServiceProxy.IVNPTAccountingBusinessService" name="BasicHttpBinding_BusinessService" />
      
      -->
      <!--Domain HDĐT Thanh vũ 1 Chinh Thuc-->
      <!--
      <endpoint address="https://thanhvu1admin.vnpt-invoice.com.vn/PortalService.asmx"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_PortalService"
                contract="VNPTAccountingServiceProxy.IVNPTAccountingPortalService" name="BasicHttpBinding_PortalService" />
      <endpoint address="https://thanhvu1admin.vnpt-invoice.com.vn/PublishService.asmx"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_PortalService"
                contract="VNPTAccountingServiceProxy.IVNPTAccountingPublishService" name="BasicHttpBinding_PublishService" />
      <endpoint address="https://thanhvu1admin.vnpt-invoice.com.vn/BusinessService.asmx"
                  binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_PortalService"
                  contract="VNPTAccountingServiceProxy.IVNPTAccountingBusinessService" name="BasicHttpBinding_BusinessService" />-->

      <!--Domain HDĐT Thanh vũ 1 - tt78 Chinh Thuc-->
      <!--<endpoint address="https://thanhvu1-tt78admin.vnpt-invoice.com.vn/PortalService.asmx"
               binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_PortalService"
               contract="VNPTAccountingServiceProxy.IVNPTAccountingPortalService" name="BasicHttpBinding_PortalService" />
      <endpoint address="https://thanhvu1-tt78admin.vnpt-invoice.com.vn/PublishService.asmx"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_PortalService"
                contract="VNPTAccountingServiceProxy.IVNPTAccountingPublishService" name="BasicHttpBinding_PublishService" />
      <endpoint address="https://thanhvu1-tt78admin.vnpt-invoice.com.vn/BusinessService.asmx"
                  binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_PortalService"
                  contract="VNPTAccountingServiceProxy.IVNPTAccountingBusinessService" name="BasicHttpBinding_BusinessService" />-->

      <!--Domain HDĐT Thanh vũ 2 Chinh Thuc-->
      <!--<endpoint address="https://thanhvu2admin.vnpt-invoice.com.vn/PortalService.asmx"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_PortalService"
                contract="VNPTAccountingServiceProxy.IVNPTAccountingPortalService" name="BasicHttpBinding_PortalService" />
      <endpoint address="https://thanhvu2admin.vnpt-invoice.com.vn/PublishService.asmx"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_PortalService"
                contract="VNPTAccountingServiceProxy.IVNPTAccountingPublishService" name="BasicHttpBinding_PublishService" />
      <endpoint address="https://thanhvu2admin.vnpt-invoice.com.vn/BusinessService.asmx"
                  binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_PortalService"
                  contract="VNPTAccountingServiceProxy.IVNPTAccountingBusinessService" name="BasicHttpBinding_BusinessService" />-->

      <!--Domain HDĐT Thanh vũ 2 - tt78 Chinh Thuc-->
      <!--<endpoint address="https://thanhvu2-tt78admin.vnpt-invoice.com.vn/PortalService.asmx"
               binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_PortalService"
               contract="VNPTAccountingServiceProxy.IVNPTAccountingPortalService" name="BasicHttpBinding_PortalService" />
      <endpoint address="https://thanhvu2-tt78admin.vnpt-invoice.com.vn/PublishService.asmx"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_PortalService"
                contract="VNPTAccountingServiceProxy.IVNPTAccountingPublishService" name="BasicHttpBinding_PublishService" />
      <endpoint address="https://thanhvu2-tt78admin.vnpt-invoice.com.vn/BusinessService.asmx"
                  binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_PortalService"
                  contract="VNPTAccountingServiceProxy.IVNPTAccountingBusinessService" name="BasicHttpBinding_BusinessService" />-->

      <!--Domain HDĐT Thanh vũ 3 Demo-->
      <!--<endpoint address="https://thanhvu3admindemo.vnpt-invoice.com.vn/PortalService.asmx"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_PortalService"
                contract="VNPTAccountingServiceProxy.IVNPTAccountingPortalService" name="BasicHttpBinding_PortalService" />
      <endpoint address="https://thanhvu3admindemo.vnpt-invoice.com.vn/PublishService.asmx"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_PortalService"
                contract="VNPTAccountingServiceProxy.IVNPTAccountingPublishService" name="BasicHttpBinding_PublishService" />
      <endpoint address="https://thanhvu3admindemo.vnpt-invoice.com.vn/BusinessService.asmx"
                  binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_PortalService"
                  contract="VNPTAccountingServiceProxy.IVNPTAccountingBusinessService" name="BasicHttpBinding_BusinessService" />-->

      <!--Domain HDĐT Thanh vũ 3 - tt78 Chinh Thuc-->
      <!--<endpoint address="https://thanhvucamau-tt78admin.vnpt-invoice.com.vn/PortalService.asmx"
               binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_PortalService"
               contract="VNPTAccountingServiceProxy.IVNPTAccountingPortalService" name="BasicHttpBinding_PortalService" />
      <endpoint address="https://thanhvucamau-tt78admin.vnpt-invoice.com.vn/PublishService.asmx"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_PortalService"
                contract="VNPTAccountingServiceProxy.IVNPTAccountingPublishService" name="BasicHttpBinding_PublishService" />
      <endpoint address="https://thanhvucamau-tt78admin.vnpt-invoice.com.vn/BusinessService.asmx"
                  binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_PortalService"
                  contract="VNPTAccountingServiceProxy.IVNPTAccountingBusinessService" name="BasicHttpBinding_BusinessService" />-->

      <!--Domain HDĐT Thanh vũ 2 - TT78 Demo-->
      <!--<endpoint address="https://thanhvu2-tt78admindemo.vnpt-invoice.com.vn/PortalService.asmx"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_PortalService"
                contract="VNPTAccountingServiceProxy.IVNPTAccountingPortalService" name="BasicHttpBinding_PortalService" />
      <endpoint address="https://thanhvu2-tt78admindemo.vnpt-invoice.com.vn/PublishService.asmx"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_PortalService"
                contract="VNPTAccountingServiceProxy.IVNPTAccountingPublishService" name="BasicHttpBinding_PublishService" />
      <endpoint address="https://thanhvu2-tt78admindemo.vnpt-invoice.com.vn/BusinessService.asmx"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_PortalService"
                contract="VNPTAccountingServiceProxy.IVNPTAccountingBusinessService" name="BasicHttpBinding_BusinessService" />-->
      
      <!--QMSService-->
      <endpoint address="http://localhost:29090/QMSService"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IQMSService"
          contract="QMSService.IQMSService"
          name="BasicHttpBinding_IQMSService"/>
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>